@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-sans: "Roboto Condensed", sans-serif;
}

@layer utilities {
	@keyframes l8 {
		to {
			transform: perspective(300px) translateZ(180px);
			opacity: 0;
		}
	}

	.title__wrapper {
		clip-path: polygon(0 0, 0 99%, 100% 85%, 100% 0);
		transition: clip-path 0.25s ease-in;
	}

	.title__content {
		@apply bg-red-900 px-5 py-10 text-white md:py-15;
	}

	.masthead__wrapper {
		clip-path: polygon(0 0, 0 99%, 100% 95%, 100% 0);
		transition: clip-path 0.25s ease-in;
	}

	.masthead__background {
		@apply flex h-[290px] items-center justify-center bg-black bg-[500px_auto] bg-center bg-no-repeat text-white md:h-[400px] md:bg-[600px_auto];
	}

	.masthead__content {
		@apply bg-neutral-900 px-5 py-15 text-white;
	}

	.player__card__wrapper {
		@apply flex flex-col;
	}

	.player__card__background {
		@apply relative flex h-[170px] items-center justify-center bg-neutral-600 bg-cover bg-center text-white after:absolute after:bottom-0 after:left-0 after:z-10 after:h-[4px] after:w-full after:bg-red-500 md:h-[210px];
	}

	.player__card__content {
		@apply flex flex-1 flex-col gap-8 bg-neutral-900 px-5 py-5 text-white;
	}
}
